@model APPBASE.Models.User_DetailCPARVM
@using APPBASE.Helpers
@using APPBASE.Svcapp
@using APPBASE.Svcbiz


@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; }

<div class="row">
    <div class="col-xs-12">
            @if (ViewData.ModelState["USR_NM10"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            Nama Karyawan

            @if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW))
            {
                @Html.TextBoxFor(model => model.USR_NM1, new { @class = "form-control", @id = "USR_NM1", @readonly = "true", @placeholder = "Enter Nama Karyawan" })
            }
            else
            {
                @Html.TextBoxFor(model => model.USR_NM1, new { @class = "form-control", @id = "USR_NM1", @placeholder = "Enter User Name" })
            }
            @if (ViewData.ModelState["USR_NM11"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("USR_NM11")
                    </label>
            }
        </div>
    </div>
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.DEPT_RUID)
        @if (ViewData.ModelState["DEPT_RUID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="DEPT_NM">Departemen</label>


            <div class="input-group input-group-sm">
                <input type="text" id="DEPT_NM" name="DEPT_NM" value="@Html.DisplayFor(model => model.DEPT_NM)" class="form-control" readonly />
                <span class="input-group-btn">
                    <button type="button" id="cmdLookupDEPT_NM" name="cmdLookupDEPT_NM" class="btn btn-info btn-flat" data-toggle="modal" data-target="#DialogLookup" @vsDisableButton><i class="fa fa-search"></i></button>

                </span>
            </div><!-- /input-group -->

            
            @if (ViewData.ModelState["DEPT_RUID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("DEPT_RUID1")
                    </label>
            }
            @if (ViewData.ModelState["DEPT_RUID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("DEPT_RUID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
