@model IEnumerable<APPBASE.Models.User_ListVM>
@using APPBASE.Helpers
@using APPBASE.Svcapp

@{
    ViewBag.Title = "User Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string vsClassBP_STS = "";}


<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <div class="input-group">
                <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                <div class="input-group-btn">
                    <button class="btn btn-flat btn-sm btn-info"><i class="fa fa-search"></i></button>
                    <a href="@Url.Action("Create")" class="btn btn-flat btn-sm btn-warning" style="margin-left:5px; color:White;"><i class="fa fa-file"></i> Tambah User</a>
                </div>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>User ID</th>
                    <th>
                        <div>Nama Karyawan/</div>
                        <div>Departemen</div>
                    </th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                @if (Model == null) {
                    <tr>
                        <td colspan="4" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
                    </tr>
                }

                @foreach (var item in Model)
                {
                    if (item.BP_STS == valFLAG.FLAG_INACTIVE) { vsClassBP_STS = "label label-danger"; } else { vsClassBP_STS = "label label-success"; }
                    
                    <tr>
                        <td><a href="@Url.Action("Details", new { id = item.RUID })" class="btn btn-flat btn-sm btn-success" style="margin-left:5px; color:White;"><i class="fa fa-eye"></i> View Detail</a></td>
                        <td>@Html.DisplayFor(modelItem => item.USR_ID)</td>
                        <td>
                            <div>@Html.DisplayFor(modelItem => item.RES_NM1)</div>
                            <div>@Html.DisplayFor(modelItem => item.DEPT_NM)</div>
                        </td>
                        <td><span class="@vsClassBP_STS">@Html.DisplayFor(modelItem => item.BP_STS)</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->
