@{
    ViewBag.Title = "Informasi User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        @{Html.RenderPartial("_Inputs");}
    </div><!-- /.box-body -->
    <div class="box-footer">
        <div class="row">
            <div class="col-xs-12">
                                @if (Model.BP_STS != APPBASE.Svcapp.valFLAG.FLAG_INACTIVE){
                                    <a href="@Url.Action("Edit", new { id = Model.RUID })" class="btn btn-flat btn-sm btn-warning" style="color:White;"><i class="fa fa-edit "></i> Rubah</a>
                                    <a href="@Url.Action("Delete", new { id = Model.RUID })" class="btn btn-flat btn-sm btn-danger" style="color:White;"><i class="fa fa-trash-o"></i> Hapus</a>
                                }

                                @if (Model.BP_STS == APPBASE.Svcapp.valFLAG.FLAG_INACTIVE)
                                { <a href="@Url.Action("Activate", new { id = Model.RUID })" class="btn btn-flat btn-sm btn-success" style="color:White;"><i class="fa fa-check "></i> Aktifkan</a> }
                                else
                                {
                                    <a href="@Url.Action("Deactivate", new { id = Model.RUID })" class="btn btn-flat btn-sm btn-danger" style="color:White;"><i class="fa fa-ban"></i> Non Aktifkan</a>
                                    <a href="@Url.Action("Role", new { id = Model.RUID })" class="btn btn-flat btn-sm btn-success" style="color:White;"><i class="fa fa-key"></i> Hak Akses</a>
                                }

                @Html.ActionLink("Back to List", "Index")
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-footer -->
</div><!-- /.box -->

<!-- Modal -->
@{Html.RenderPartial("_PartialDialogLookup");}

@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}


}
