@model IEnumerable<APPBASE.Models.CPAR_ListVM>
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Info " + ViewBag.Subtitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string vsClassCPAR_STS = "";}

@if (ViewBag.CRUDSavedOrDelete == valFLAG.FLAG_TRUE)
{
    Html.RenderPartial("_PartialConfirmDeleted"); 
}

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <div class="input-group">
                <input type="text" id="searchValue" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Cari Nomor CPAR"/>
                <div class="input-group-btn">
                    <button class="btn btn-flat btn-sm btn-info"><i class="fa fa-search"></i></button>
                    @if (ViewBag.CPAR_TYPE != valFLAG.FLAG_CPAR_TYPE_CC) {
                        <a href="@Url.Action("Create")" class="btn btn-flat btn-sm btn-warning" style="margin-left:5px; color:White;"><i class="fa fa-plus"></i> Tambah @ViewBag.Subtitle</a>
                    }
                </div>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>CPAR</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                @if (Model == null)
                {
                    <tr>
                        <td colspan="3" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
                    </tr>
                }

                @foreach (var item in Model)
                {
                    
                    <tr>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.RUID })" class="btn btn-flat btn-sm btn-success" style="margin-left:5px; color:White;"><i class="fa fa-eye"></i> View Detail</a>
                        </td>
                        <td class="SEARCHABLE_ROWS">
                            
                            <div class="text-light-blue">
                                <span style="font-weight:bold;font-style:italic;">No. CPAR : @Html.DisplayFor(modelItem => item.CPAR_ID)</span> - @hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(item.CPAR_DT)
                            </div>
                            <p class="truncate">@item.CPAR_DESC</p>
                        </td>
                        <td>
                            @{
                    vsClassCPAR_STS = "badge bg-yellow";
                    if (item.CPAR_STS == valFLAG.FLAG_CPAR_STS_CLOSED) { vsClassCPAR_STS = "badge bg-green"; }
                    if (item.CPAR_STS == valFLAG.FLAG_CPAR_STS_CANCELED) { vsClassCPAR_STS = "badge bg-red"; }
                             }
                            <span class="@vsClassCPAR_STS">@Html.DisplayFor(modelItem => item.CPAR_STS_NM)</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');

        /*=========================================
        EVENTS
        =========================================*/
    });   //End $(document).ready
</script>

}

