@model IEnumerable<APPBASE.Models.Standardreff_LookupVM>

@{
    ViewBag.Title = "Daftar Referensi/Standard";
    Layout = "~/Views/Shared/_LayoutLookup.cshtml";
}

<div class="row">
    <div class="col-xs-12">

                @if (Model == null)
                { 
                    <table class="table table-hover">
                        <tr>
                            <td style="width:100%;text-align:center;">@{Html.RenderPartial("_PartialEmpty");}</td>
                        </tr>
                    </table>
                }

                @if (Model != null)
                {

                <div class="input-group">
                    <input type="text" name="searchValue" id="searchValue" class="form-control input-sm pull-right FieldEnableAlways" placeholder="Filter Data Referensi/Standard"/>
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <div class="input-group-btn">
                        <button type="button" id="cmdAdditemX" class="btn btn-flat btn-sm btn-warning" data-toggle="modal" data-target="#DialogLookup_additems"><i class="fa fa-plus"></i> Tambah</button>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                @{int i = 0;}

                @foreach (var item in Model)
                {
                    <tr class="LOOKUPROW">
                        <td class="SEARCHABLE_ROWS" style="width:50%;">
                            <input type="checkbox" id="CHECKLIST[@i].RUID" name="CHECKLIST[@i].RUID" class="LIST_ITEMS" value="@item.RUID" />
                            @Html.DisplayFor(modelItem => item.LOV_ID) - @Html.DisplayFor(modelItem => item.LOV_NM)
                        </td>
                    </tr>
                    i++;
                }
                    </tbody>
                </table>
                }

    </div><!-- /.col-xs-12 -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        $("#DialogLookupTitle_additems").text("@ViewBag.Title");
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');
        $("#DialogLookupWait_additems").hide();

        /*=========================================
        EVENTS
        =========================================*/
        $("#cmdAdditemX").click(function () {
            var myWindow = window.open("@Url.Action("Create", "Standardreff")", "_blank", "width=500, height=400, scrollbars=yes");
            var timer = setInterval(function() {
                if (myWindow.closed) {
                    clearInterval(timer);
                    var vaExistinglist = new Array();
                    $(".EXISTING_ITEMS").each(function (index) {
                        vaExistinglist.push($(this).val());
                    });
                    var vaSelectedlist = new Array();
                    $(".SELECTED_ITEMS").each(function (index) {
                        vaSelectedlist.push($(this).val());
                    });
                    //showLookup_Additems('CPARAudit/ShowStandardreff', '', vaExistinglist, vaSelectedlist);
                    showLookup_Additems('CPAR/ShowStandardreff', '', vaExistinglist, vaSelectedlist);

                }
            }, 500);
        }); //End  $("#btnLookup").click

    }); //End $(document).ready
</script>

