@model APPBASE.Models.Complain_DetailVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}


<div class="row">
    @Html.HiddenFor(model => model.PROJ_RUID, new { id = "PROJ_RUID" })
    <div class="col-xs-6">
        <div class="form-group @vsErrClass">
            <label for="PROJ_NM">Nama Proyek</label>
            <input type="text" id="PROJ_NM" name="PROJ_NM" value="@Html.DisplayFor(model => model.PROJ_NM)" class="form-control" readonly />
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-6 -->
    <div class="col-xs-6">
        <div class="form-group">
            <label for="CLIENT_RUID">Nama Owner</label>
            <input type="text" id="CLIENT_RUID" name="CLIENT_RUID" value="@Html.DisplayFor(model => model.CLIENT_RUID)" class="form-control" readonly />
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-6 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-8">
        <div class="form-group">
            <label for="PROJ_ID">Nomor Proyek</label>
            <input type="text" id="PROJ_ID" name="PROJ_ID" value="@Html.DisplayFor(model => model.PROJ_ID)" class="form-control" readonly />
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-10 -->
    <div class="col-xs-4">
        <div class="form-group">
            <label for="PROJ_STS_NM">Status</label>
            <input type="text" id="PROJ_STS_NM" name="PROJ_STS_NM" value="@Html.DisplayFor(model => model.PROJ_STS_NM)" class="form-control" readonly />
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-2 -->

</div><!-- /.row -->


