@model APPBASE.Models.CPAR_VerifyVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Print Preview - Logbook CPAR " + ViewBag.CPAR_TYPE_NM;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Print = "invoice";
}
@section includeTOP {
    <link href="@Url.Content("~/Content/")print.css" rel="stylesheet" type="text/css" />
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}


@if (ViewBag.CRUDSavedOrDelete == valFLAG.FLAG_TRUE) {
      Html.RenderPartial("_PartialConfirmSaved"); 
}

@{string vsClassCPAR_STS = "";}
@{
    if (Model.CPAR_STS == valFLAG.FLAG_CPAR_STS_CLOSED) { vsClassCPAR_STS = "btn btn-app bg-green"; }
    if (Model.CPAR_STS == valFLAG.FLAG_CPAR_STS_CANCELED) { vsClassCPAR_STS = "btn btn-app bg-red"; }
}

<table style="width:100%;">
    <thead>
        <tr>
            <th colspan="5">
                <div class="print-title">
                    <div><img src="../../Images/Company_Logo.png" /></div>
                    <div>CORRECTIVE / PREVENTIVE ACTION REQUEST</div>
                    <div>(Untuk penggunaan internal)</div>
                </div>
                <div>
                    <span>No. CPAR : @Model.CPAR_ID</span>
                    <span class="pull-right"> Tanggal Temuan : @hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.CPAR_DT)</span>
                </div>
            </th>
        </tr>
    </thead>

<!--1/////////////////////////////////////////////////////////// -->

    <tbody class="border">
        <!-- info row 1A -->
        <tr class="border-bottom title-bold">
            <td class="border-right align-center">PENEMU/AUDITOR</td>
            <td class="border-right align-center">DITUJUKAN/AUDITEE</td>
            <td class="align-center">SUMBER CPAR</td>
        </tr>
        <!-- info row 1B -->
        <tr class="border-bottom">
            <td class="border-right"><p>@Model.AUDITOR_NM</p></td>
            <td class="border-right"><p>@Model.AUDITEE_NM</p></td>
            <td>
                <p>@Model.CPAR_TYPE_NM @if (Model.CPAR_TYPE == @valFLAG.FLAG_CPAR_TYPE_IA) { <span>(@Model.CLASS_NM)</span> }</p>
            </td>
        </tr>

<!--2/////////////////////////////////////////////////////////// -->

        <!-- info row 2A -->
        <tr class="border-bottom title-bold">
            <td colspan="2" class="border-right">REFERENSI/STANDAR</td>
            <td class="align-center">PROSES</td>
        </tr>
        <!-- info row 2B -->
        <tr class="border-bottom">
            <td colspan="2" class="border-right"><p>@{Html.RenderPartial("_Print_stdreff");}</p></td>
            <td><p>@Model.AUDIT_NM</p></td>
        </tr>

<!--3/////////////////////////////////////////////////////////// -->

        <!-- info row 3A -->
        <tr class="border-bottom title-bold">
            <td colspan="3">TEMUAN/KETIDAKSESUAIAN/POTENSI MASALAH</td>
        </tr>
        <!-- info row 3B -->
        <tr class="border-bottom">
            <td colspan="3">
                <p>
                    <div>@Model.CPAR_DESC</div>
                    <div style="padding-top:10px;">Tanggal Penyelesaian : @hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.CPAR_FINISH_DT)</div>
                </p>
            </td>
        </tr>

<!--4/////////////////////////////////////////////////////////// -->

        <!-- info row 4A -->
        <tr class="border-bottom title-bold">
            <td colspan="3">AKAR PENYEBAB</td>
        </tr>
        <!-- info row 4B -->
        <tr class="border-bottom">
            <td colspan="3" style="height:100px;"><p>@Model.CPAR_RESOLUTION1</p></td>
        </tr>

<!--5/////////////////////////////////////////////////////////// -->
        <!-- info row 5A -->
        <tr class="border-bottom title-bold">
            <td colspan="3">TINDAKAN KOREKSI/KOREKTIF</td>
        </tr>
        <!-- info row 5B -->
        <tr class="border-bottom">
            <td colspan="3">
                <p>
                    <div>
                        <span style="font-weight:bold;">Koreksi</span>
                        <div>@Model.CPAR_RESOLUTION2</div>
                    </div>

                    <div style="padding-top:10px;">
                        <span style="font-weight:bold;">Korektif</span>
                        <div>@Model.CPAR_RESOLUTION3</div>
                    </div>
                </p>
            </td>
        </tr>

<!--6/////////////////////////////////////////////////////////// -->
        <!-- info row 6A -->
        <tr class="border-bottom title-bold">
            <td class="border-right align-center">TANGGAL VERIFIKASI</td>
            <td class="border-right align-center">KOMENTAR</td>
            <td class="align-center">STATUS</td>
        </tr>
        <!-- info row 6B1 -->
        <tr class="border-bottom">
            <td class="border-right"><p>@hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.VFKS1_DT)</p></td>
            <td><p>@Model.VFKS1_DESC</p></td>
            <td rowspan="5" class="border-left" style="vertical-align:middle; text-align:center;"><h1>@Model.CPAR_STS_NM.ToUpper()</h1></td>
        </tr>
        <!-- info row 6B2 -->
        <tr class="border-bottom">
            <td class="border-right"><p>@hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.VFKS2_DT)</p></td>
            <td><p>@Model.VFKS2_DESC</p></td>
        </tr>
        <!-- info row 6B3 -->
        <tr class="border-bottom">
            <td class="border-right"><p>@hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.VFKS3_DT)</p></td>
            <td><p>@Model.VFKS3_DESC</p></td>
        </tr>
        <!-- info row 6B4 -->
        <tr class="border-bottom">
            <td class="border-right"><p>@hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.VFKS4_DT)</p></td>
            <td><p>@Model.VFKS4_DESC</p></td>
        </tr>
        <!-- info row 6B5 -->
        <tr class="border-bottom">
            <td class="border-right"><p>@hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.VFKS5_DT)</p></td>
            <td><p>@Model.VFKS5_DESC</p></td>
        </tr>

    </tbody>
</table>
<span style="font-style: italic;font-size:small;">Dokumen ini telah divalidasi secara elektronik. Tidak perlu ada pengesahaan fisik.</span>

@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}

